<div class="w-screen h-screen bg-black overflow-hidden flex flex-col" style="padding: 8px 0 8px 12px;">
  <div id="terminal" phx-update="ignore" phx-hook="Terminal" data-colors={Jason.encode!(@colors)} class="flex-1 w-full relative"></div>
</div>
