<div class="flex-1 w-full flex flex-col overflow-hidden bg-black" style="padding: 12px 12px 12px 16px; box-sizing: border-box;">
  <div id="terminal" phx-update="ignore" phx-hook="Terminal" data-colors={Jason.encode!(@colors)} data-font={@font} class="flex-1 w-full relative" style="min-height: 0; overflow: hidden;"></div>
</div>
