<div class="w-screen h-screen bg-black overflow-hidden relative">
  <div id="terminal" phx-update="ignore" phx-hook="Terminal" data-colors={Jason.encode!(@colors)} class="absolute inset-0 p-2 pl-3"></div>
</div>
